<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Railway test">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="Testcases.Railway.LoginTest.TestCase01" />
            <class name="Testcases.Railway.LoginTest.TestCase02" />
            <class name="Testcases.Railway.LoginTest.TestCase03" />
            <class name="Testcases.Railway.LoginTest.TestCase04" />
            <class name="Testcases.Railway.LoginTest.TestCase05" />
            <class name="Testcases.Railway.LoginTest.TestCase06" />
            <class name="Testcases.Railway.RegisterTest.TestCase07" />
            <class name="Testcases.Railway.ChangePasswordTest.TestCase09" />
            <class name="Testcases.Railway.RegisterTest.TestCase10" />
            <class name="Testcases.Railway.RegisterTest.TestCase11" />
            <class name="Testcases.Railway.BookTicketTest.TestCase14" />
            <class name="Testcases.Railway.TimetableTest.TestCase15" />
            <class name="Testcases.Railway.MyTicketTest.TestCase16" />
        </classes>
    </test>
</suite>