<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">
<test verbose="2" preserve-order="true" name="C:/Users/SATTDN21.02.04/IdeaProjects/Railway">
<classes>
	<class name="Testcases.Railway.LoginTest">
		<methods>
			<include name="TC01"/>
			<include name="TC02"/>
			<include name="TC03"/>
			<include name="TC04"/>
			<include name="TC05"/>
			<include name="TC06"/>
		</methods>
	</class>
	
	<class name="Testcases.Railway.RegisterTest">
		<methods>
			<include name="TC07"/>
		</methods>
	</class>

	<class name="Testcases.Railway.ChangePasswordTest">
		<methods>
			<include name="TC09"/>
		</methods>
	</class>

	<class name="Testcases.Railway.RegisterTest">
		<methods>
			<include name="TC10"/>
			<include name="TC11"/>
		</methods>
	</class>

	<class name="Testcases.Railway.BookTicketTest">
		<methods>
			<include name="TC14"/>
		</methods>
	</class>

	<class name="Testcases.Railway.TimetableTest">

		<methods>
			<include name="TC15"/>
		</methods>
	</class>

	<class name="Testcases.Railway.MyTicketTest">
		<methods>
			<include name="TC16"/>
		</methods>
	</class>
</classes>
</test>
</suite>